.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.body {
    padding-top: 24px;
    background-color: dodgerblue;
    padding-bottom: 24px;
    color: #f1f1f1;
    min-height: 100vh;
}

.movie {
    margin-bottom: 18px;
    padding: 8px;
}

.movie img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.search-field {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

.search-field input {
    color: #f1f1f1;
}

img {
    border-radius: 4px;
}
