.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.body {
    padding-top: 24px;
    background-color: dodgerblue;
    padding-bottom: 24px;
    color: #f1f1f1;
}

.movie {
    margin-bottom: 18px;
    padding: 8px;
}

.movie img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

#filled-search {
    color: #f1f1f1;
}
